*.sdf
*.suo
ipch/
*.ilk
obj/
debug/
release/
*.user
GeneratedFiles/
*.opensdf
MakeFile
*.Debug
*.Release
moc/
rcc/
uic/
object_script.*
*.pro.user*
*.dproj.local
*.autosave
*.dsk
*.local
*.identcache
*.~*
*.manifest
*.*manifest.rc
*.*manifest.res
*.dof
dcu/
*.dcp
*.bpl
*.dcu
*.exp
*.pdb
*.bak
*.dll
*.exe
version.h
ver.txt
/out
/settings_pri
Boxer.psd
Logo.psd
*.jpg
